#main-head
{
    height: calc(100vh - 54px);
    background-image: url("https://i.cbc.ca/1.5848130.1674158749!/fileImage/httpImage/milky-way-night-sky.jpg");
    background-size: cover;
}
.page-section{
    padding: 6rem 0;

}
.section-heading{
    font-weight: bold;
    margin-bottom: 1rem;
}
.section-subheading{
    margin-bottom: 4rem;
    
}
